# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node/Package managers
node_modules/
.pnp*

# TypeScript
*.tsbuildinfo

# Next.js
.next/
out/
dist/
.vercel/

# Build tools/cache
.turbo/
.cache/

# Env files
.env
.env.*
!.env.example

# Coverage
coverage/

# IDE
.vscode/
.idea/

# Misc
*.swp
*.swo
